.card {
  height: 75rem;
  width: 60rem;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.item-detail {
  margin-top: 5rem;
  height: 50rem;
  width: 50rem;
}






.card__title {
  font-size: 2rem;
  text-align: center;
  color: rosybrown;
}

.card__text {
  color: gray;
}



.card__price {
  text-align: center;
}