.container {
  display: flex;
  margin-top: 3rem;
  margin: ;
}

.card {
  margin: 3rem;
  margin: 0 auto;
  justify-content: space-between;

}

.card__title {
  font-size: 2rem;
  text-align: center;
  color: rosybrown;
}

.card__text {
  color: gray;
}

/* .card__buttonStack {
  margin: 0 auto;

} */





/* .card__img {
  height: 18rem;
  width: 15;
} */

.card__price {
  text-align: center;
}